body {
  background: linear-gradient(to right, #f5f7fa, #c3cfe2);
  font-family: "Segoe UI", sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999999999999999; /* Đảm bảo header luôn nằm trên các phần tử khác */
  background-color: white; /* Nên có nền trắng để che khi scroll */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tạo bóng nhẹ đẹp */
}

.card-header {
  background-color: #007bff;
  color: white;
}

.card-body {
  background-color: #f0f8ff;
}

a.lesson-link {
  display: block;
  padding: 8px;
  color: #007bff;
  text-decoration: none;
}

a.lesson-link:hover {
  background-color: #e9ecef;
  border-radius: 5px;
}

#giftBox {
  position: fixed;
  bottom: 40px; /* cách đáy màn hình 20px */
  right: 20px; /* cách mép phải màn hình 20px */
  width: 50px; /* kích thước gif */
  height: auto;
  z-index: 1000; /* luôn nổi trên các phần tử khác */
  cursor: pointer; /* con trỏ chuột khi hover */
}
.blinking {
  font-size: 14px !important;
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.6;
  }
}
