body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
}

.nav-button {
  padding: 0.75rem 1.5rem;
  background: linear-gradient(135deg, #42a5f5, #1976d2);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s, background 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-button:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #64b5f6, #1565c0);
}

iframe {
  width: 100%;
  height: calc(100vh - 48px);
  border: none;
}

#imageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 50px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}

.image-container {
  width: 23%;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
  box-sizing: border-box;
}

.image-container img {
  width: 200px;
  height: 100px;
  object-fit: contain;
  border: 1px solid #ccc;
  background-color: white;
}

.image-container div {
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem 1rem;
  flex-wrap: wrap;
  background-color: #007bff;
  color: white;
  position: relative;
}

.back-button {
  background-color: #f2efef !important;
  color: black !important;
  text-decoration: none;
  padding: 0.45rem 0.6rem;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.back-button:hover {
  background-color: #b71c1c;
  transform: scale(1.05);
}

.nav-left .back-button {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-right {
  display: flex;
  gap: 10px;
  transition: max-height 0.3s ease;
}

.nav-toggle {
  display: none;
  cursor: pointer;
  background-color: #f2efef !important;
  color: black !important;
  padding: 0.75rem 1rem;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .nav-right {
    position: absolute;
    top: 55px;
    right: 10px;
    background-color: #dee2e6;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    width: calc(50%);
    border-radius: 8px;
  }

  .nav-right.show {
    max-height: 500px;
  }

  .nav-toggle {
    display: block;
  }
  .nav-button {
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
  }
  .image-container {
    width: 32%;
    height: 140px;
  }
  .image-container img {
    height: 80px;
  }
}
